<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymealeaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>tents</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">The Roots of Nyabingi Heritage Center</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn p-2 text-dark" th:href="@{/admin/registerActivity}">Manage Activity</a>
    <a class="p-2 text-dark" th:href="@{/admin/registerHome}">Manage Houses</a>
    <a class="p-2 text-dark" th:href="@{/admin/registerTent}">Manage Tents</a>
    <a class="p-2 text-dark" th:href="@{/admin/registerPartner}">Manage Partner</a>
    <a class="p-2 text-dark" th:href="@{/admin/viewPackages}">View Packages</a>
    <a class="btn btn-outline-primary" th:href="@{/logout}">Logout</a>
  </nav>
</div>

<div th:class="container">
	<h3 style="color: highlight;text-align: center;">Management of Tents</h3>
	<button class="btn btn-success" data-toggle="modal" data-target="#saveA" type="button">New Tent</button>
	<table border="1" class="table table-stripled table-responsiveness-md">
		<thead>
			<tr>
				<th>Tent Name</th>
				<th>Tent Size</th>
				<th>Tent Price</th>
				<th>Tent Status</th>
				<th>More Actions</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="tent: ${tents}">
			<td th:text="${tent.name}"></td>
			<td th:text="${tent.size}"></td>
			<td th:text="${tent.price}"></td>
			<td th:text="${tent.status}"></td>
			<td>
				<form>
					<a type="submit" class="btn btn-primary btn-sm">Edit</a>
				</form>
			</td>
		</tr>
		</tbody>
	</table>

	
	<!-- SAVING PARTNER MODAL -->


<div class="myForm">
<form method="post" th:action="@{/admin/saveTent}"
th:object="${tent}" enctype="multipart/form-data">
<div class="modal fade" role="dialog" id="saveA" tabindex="-1"
aria-hidden="true" aria-labelledby="exampleModal">

	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-tittle" id="examModal">Partner Details</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden>&times;</span>
			</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label" for="name">
						Tent Name
					</label>
					<input th:field="*{name}" class="form-control" required="required" id="name">
				</div>
				
				<div class="form-group">
					<label class="control-label" for="name">
						Tent Size
					</label>
					
					<select th:field="*{size}" style="width: 150px">
						<option th:value=" 'Tent Size' " disabled="disabled">Tent Size</option>
						<option th:value=" '1 Person'">1 Person</option>
						<option th:value=" '2 Persons' ">2 Persons</option>
						<option th:value=" '4 Persons'">4 Persons</option>
						<option th:value=" '8 Persons'">8 Persons</option>
					</select>
				</div>
				
				<div class="form-group">
					<label class="control-label" for="name">
						Tent Price
					</label>
					<input th:field="*{price}" class="form-control" required="required" id="price" style="width: 250px">
				</div>
				
				<div class="form-group">
					<label class="control-label" for="name">
						Tent Status
					</label>
					<input th:field="*{status}" class="form-control" required="required" id="status">
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>

</div>
</form>
</div>

<!-- DISPLAYING AND CHANGING VIDEO MODAL -->


</div>
</body>
</html>