<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymealeaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>userContents</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">The Roots of Nyabingi Heritage Center</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn p-2 text-dark" th:href="@{/user/packages}">Make Packages</a>
    <a class="p-2 text-dark" th:href="@{/user/payments}">Payments</a>
    <a class="btn p-2 text-dark" th:href="@{/user/activities}">View Activities</a>
  <a  sec:authorise="isAuthenticated()" class="btn btn-outline-primary" th:href="@{/logout}">Logout</a>
</nav>
</div>

<!-- INDEX CONTENT -->


<div class="container">	
	<!-- PACKAGE TABLE -->
	
	<h3 style="color: highlight;text-align: center;">ACTIVITIES CONTENTS</h3>
	
	<button class="btn btn-success" data-toggle="modal" data-target="#saveT" type="button">Add Tourist</button>
	<a class="btn btn-info"  th:href="@{/user/tourCost/{id} 
				(id=${tourPackage.id})}" type="button">Tour Cost</a>
	<form th:object="${tourPackage}" method="post" 
	th:action="@{/user/saveTourContents/{id} (id=${tourPackage.id}) }">
		<table  border="1" class="table table-stripled table-responsiveness-md">
		<thead>
			<tr>
				<th>Content Name</th>
				<th>Distance (km)</th>
				<th>Price ($)</th>
				<th>Status</th>
				<th>Action </th>
			</tr>
		</thead>
		<tbody  >
		<tr th:each="content: ${contents}">
			<td th:text="${content.name}"></td>
			<td th:text="${content.distance}"></td>
			<td th:text="${content.price}"></td>
			<td th:text="${content.status}"></td>
			<td> 
				<input type="checkbox" name="packs" th:value="${content.id}" ></input>
				<label>Add</label>
			</td>
		</tr>
		</tbody>
	</table>
	<button  type="submit" class="btn btn-primary btn-sm" >Add Selected</button>
	</form>

<!-- MODAL TO ADD TOURIST -->
	

</div>
<footer style="text-align: center; font-family: cursive; font-size: 30px; marker-offset: -100px; 
position: relative">
	<span >THE ROOTS OF NYABINGI HERITAGE CENTER</span>
</footer>
</body>
</html>
>